// color
$color1: #fff;
$color10: #434c66;
$color22:#011144;//Nền menutop
$color23:#f4b200;//Màu hover menutop
$color24:rgba(1, 17, 68, 0.55);//màu nền booking form
$color25:#c5c5c5;
$color26:#564413;//Màu đường kẻ service
$color27:#f5f5f5;//nền Tab offer
$color28:#1fc8d3;
$color4: #ed000f;
$color29:#011144b3;
$color30:#0c1c52;//viền menu
$color31:#dbdbdb;

$color8: #efefef;
$color2: #1d45a5;
$color3: #7c7872;
$color5: #ddd;
$color7: #2686e6;
$color8: #efefef;
$color11: rgb(255, 107, 0);
$color12: rgba(63, 63, 63, 0.5);
$color14: #ffd600;
$color15:#34549e;
$color18:#4762a2;
$color19:#dc414b;
$color20:#1fb349;
// end color

// box shadow
$boxShadow1: 0px 0px 15px 0px rgba(0, 5px, 5px, 0.2);
$boxShadow2: 0px 10px 15px -10px rgba(0, 0, 0, 0.3);
$boxShadow3: 5px 5px 15px 0px rgba(0, 0, 0, 0.5);
// end box shadow
// fonts
$nameFont1: 'Montserrat';
// end font