.wrapPhoneContact{
    position: fixed;
    left: 75px;
    bottom: 15px;
    display: inline-block;
    transform: translate(0, 0);
    font-size: 40px;
    color: $color23;
    padding: 10px 20px;
    background-color: $color1;
    @include borderRadius(50%);
    @include transition(0.5s);
    @include boxShadow($boxShadow1);
    z-index: 1;
}
.wrapContentPhone {
    display: none;
    position: relative;
    text-align: center;
    padding: 30px 60px;
    @include transition(0.5s);
}

.btnCLoseFormPhone {
    position: absolute;
    top: -22.5px;
    right: -7.5px;
    transform: translate(0, 0);
    color:$color22;
    font-size: 20px;
    line-height: 30px;
}

.iconUserChat {
    font-size: 70px;
    line-height: 45px;
    margin: 15px auto;
    color:$color23;
}

.titlePhoneContact{
    color: $color22;
}
.showPhone{
    @include borderRadius(0);
    .wrapContentPhone{
        display: block;
        padding: 15px 30px;
    }
    .iconPhoneFixed{
        display: none;
    }
}

@media(max-width:1199px){
    .wrapPhoneContact{
        left: 15px;
    }
}

@media(max-width:991px){
    .wrapPhoneContact{
        left: 15px;
        font-size: 25px;
        line-height: 35px;
        padding: 7.5px 12.5px;
    }
    .btnCLoseFormPhone {
        font-size: 14px;
        line-height: 24px;
        top: 0;
        right: 0;
    }
}