.pagination {
    justify-content: center;
    margin-bottom: 0;
    .page-link {
        @include borderRadius(4px);
        border-color: $color2;
        font-size: 14px;
        line-height: 20px;
        color: $color10;
        text-transform: capitalize;
        font-weight: 600;
        background-color: $color1;
        font-family: $nameFont1;
        text-align: center;
        padding: 5px 11px;
        margin: 0 2px;
        @include transition(0.5s linear);
        &:hover,
        &:focus {
            background-color: $color2;
            color: $color1;
            border: 0.5px solid $color2;
            @include boxShadow(none);
        }
    }
    .active {
        .page-link {
            background-color: $color2;
            color: $color1;
            border: 0.5px solid $color2;
            @include boxShadow(none);
        }
    }
}