.wrapSubscripe {
    background-color: $color23;
    position: relative;
    &::before {
        position: absolute;
        content: "";
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
        background-color: $color22;
    }
}

.rowSubscripe {
    display: table;
}

.wrapFormSubscripe,
.wrapTitlecolSubscripe {
    width: 50%;
    padding: 60px 120px;
    display: table-cell;
    vertical-align: middle;
}

.wrapTitlecolSubscripe {
    background-color: $color23;
}

.wrapFormSubscripe {
    position: relative;
    background-color: $color22;
}

.formSubscripeEmail {
    margin-bottom: 0;
    .form-control {
        font-size: 14px;
        line-height: 20px;
        height: 50px;
        padding: 19px;
        @include borderRadius(60px);
        margin-bottom: 15px;
    }
}

.wrapbtnSubscripe {
    text-align: right;
}

@media(max-width:1023px) {
    .wrapTitlecolSubscripe,
    .wrapFormSubscripe {
        padding: 30px 60px;
    }
    .colSubscripe {
        padding: 0 60px;
    }
}

@media(max-width:991px) {
    .colSubscripe {
        padding: 0 15px;
    }
}

@media(max-width:767px) {
    .wrapTitlecolSubscripe,
    .wrapFormSubscripe {
        padding: 30px 30px;
    }
}

@media(max-width:575px) {
    .wrapSubscripe {
        background-color: transparent;
        &::before {
            @include opacity(0);
        }
    }
    .rowSubscripe,
    .wrapFormSubscripe,
    .wrapTitlecolSubscripe {
        display: block;
    }
    .wrapTitlecolSubscripe,
    .wrapFormSubscripe {
        width: 100%;
        padding: 30px 15px;
    }
    .formSubscripeEmail {
        .form-control {
            height: 40px;
            padding: 10px;
        }
    }
}