.wrapService {
    padding: 45px 0;
    background-color: $color22;
}

.wrapBlockService {
    padding: 15px 30px;
}

.colService {
    position: relative;
    &::before {
        position: absolute;
        content: "";
        width: 1px;
        height: 200px;
        background-color: $color26;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
    }
}

.colService {
    &:first-child {
        &::before {
            @include opacity(0);
        }
    }
}

.wrapIconService {
    text-align: center;
    margin: 15px 0;
}

.imgService {
    width: auto;
    height: 80px;
}

.linkItemService {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    color: $color1;
    display: block;
    text-align: center;
    margin-bottom: 15px;
    @include transition(0.5s);
    &:hover,
    &:focus {
        color: $color23;
        text-decoration: none;
    }
}

.wrapTextService {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: $color1;
    display: inline-block;
    text-align: center;
    margin-bottom: 15px;
}

@media(max-width:1023px) {
    .wrapService {
        padding: 0;
    }
}

@media(max-width:991px) {
    .wrapService {
        padding: 0 15px;
    }
    .wrapBlockService {
        padding: 15px 0;
    }
    .colService {
        &::after {
            position: absolute;
            content: "";
            width: 200px;
            height: 1px;
            background-color: $color26;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0%);
        }
        &:nth-child(1),
        &:nth-child(2) {
            &::after {
                @include opacity(0);
            }
        }
    }
}

@media(max-width:767px) {
    .wrapService {
        padding: 15px;
    }
    .wrapIconService,
    .linkItemService {
        margin-bottom: 7.5px;
    }
    .wrapTextService{
        margin-bottom: 0;
    }
    .wrapIconService{
        margin-top: 0;
    }
}

@media(max-width:575px) {
    .colService {
        &:nth-child(2) {
            &::after {
                @include opacity(1);
            }
        }
    }
}